# Copie este archivo como application-local.properties y complete sus datos Gmail.
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=su_correo@gmail.com
spring.mail.password=xxxx xxxx xxxx xxxx
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

cloty.mail.from=su_correo@gmail.com
cloty.mail.enabled=true
